@model cineVote.Models.DTO.createCompetitionModel;
<style>
	.selected-category-container {
		display: inline-flex;
		align-items: center;
		padding: 8px;
		margin: 4px;
		background-color: #f2f2f2;
		border-radius: 4px;
		font-size: 14px;
	}

	.selected-category-container span {
		margin-right: 8px;
	}

	.selected-category-container button {
		margin-left: 8px;
		padding: 2px 6px;
		border-radius: 50%;
	}

	.form-container {
		width: 100%;
		/* Set the desired width for the form container */
		max-width: 1400px;
		/* Set a maximum width if needed */
		margin: 0 auto;
		/* Center the form horizontally */
	}

	.margem-left {
		margin-left: 1rem;
		margin-top: 1rem;
	}

	.movie-card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.movie-card {
		flex-basis: calc(33.33% - 1rem);
		margin-bottom: 1rem;
	}
</style>

<div class="form-container">
	<div class="row" style="display: flex;justify-content: center; align-items: center;">
		<div class="col-10">

			<div class="card" style="color:black;">
				<div class="card-header">
					<div class="text-center fs-3 fw-bold">Create a new Competition</div>
				</div>
				<div class="card-body" style="color:black;">
					<form asp-controller="Competition" asp-action="createCompetition" method="post">
						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">Name of the Competition:</label>
							<input asp-for="Name" type="text" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">Categories of the competition:</label>
							<div class="category-list d-flex row">
								@if (Model.categoryList != null)
								{
									@foreach (var item in Model.categoryList)
									{
										<div class="col-3">
											<div class="category-option margem-left d-grid gap-2">
												<button type="button" class="btn text-white d-inline "
													style="background-color:rgb(67,37,101)"
													onclick="addCatergoryToList('@item.CategoryId','@item.Name')">@item.Name</button>

											</div>
										</div>
									}
								}
								else
								{
									<p>No categories found.</p>
								}

							</div>

							<div class="mb-2 mt-3">
								<label class="form-label fs-6 fw-bold">Selected Categories:</label>
								<div id="selectedCategoriesContainer" class="d-flex flex-wrap"></div>
								<input asp-for="category" id="category" name="category" type="hidden" />
							</div>


						</div>
						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">Starting of the competition:</label>
							<input asp-for="startDate" type="datetime-local" class="form-control"
								value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
						</div>

						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">End of the competition:</label>
							<input asp-for="endDate" type="datetime-local" class="form-control"
								value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
						</div>


						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">Selected Movies:</label>
							<div id="selectedMoviesContainer" class="d-flex flex-wrap"></div>
							<input asp-for="NomineeDBId" id="NomineeDBId" name="NomineeDBId" type="hidden" />
						</div>
						<div class="mb-3">
							<label class="form-label fs-6 fw-bold">Enter the name of the movie:</label>
							<div class="mb-3 d-flex">
								<input type="text" id="movieNameInput" class="form-control"
									onkeydown="handleMovieNameInput(event)" />
								<button type="button" class="btn text-white" style="background-color:rgb(67,37,101)"
									onclick="searchMovie()">Search</button>
							</div>
						</div>

						<div id="searchResultsContainer" class="row"></div>


						<div class="mb-3 d-flex justify-content-center">
							<button class="btn text-white" style="background-color:rgb(67,37,101)"
								onclick="createCompetition()">Create</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var selectedMovieIds = [];
	var selectedCategories = [];

	function addToNomineeList(movieId, movieTitle, movieOverview, releaseDate) {
		console.log("ID: " + movieId);
		if (!selectedMovieIds.includes(movieId)) {
			selectedMovieIds.push(movieId);
			addSelectedMovieOption(movieId, movieTitle, movieOverview, releaseDate);
		} else {
			alert("Movie already added to the Nominee List.");
		}
	}

	function addCatergoryToList(categoryId, categoryName) {
		if (!selectedCategories.includes(categoryId)) {
			selectedCategories.push(categoryId);
			addSelectedCategoryOption(categoryId, categoryName);
		} else {
			alert("Category has already been added!");
		}
	}

	function addSelectedMovieOption(movieId, movieTitle, movieOverview, releaseDate) {
		var container = document.getElementById("selectedMoviesContainer");
		var movieContainer = document.createElement("div");
		movieContainer.className = "selected-movie-container";
		movieContainer.innerHTML = `
				<div class="category-container d-flex align-items-center rounded text-white m-1" style="background-color:rgb(67,37,101)">
	<div>
		  <span class="movie-title fs-6 m-2">${movieTitle}</span>
	</div>
	<button type="button" class="btn btn-sm btn-danger m-2" onclick="removeFromNomineeList('${movieId}', '${movieTitle}')">
	  X
	</button>
  `;
		container.appendChild(movieContainer);

		// Update the asp-for attribute with the selectedMovieIds array
		var nomineeField = document.getElementById("NomineeDBId");
		nomineeField.setAttribute("asp-for", "NomineeDBId");
		nomineeField.value = JSON.stringify(selectedMovieIds);
	}


	function addSelectedCategoryOption(categoryId, categoryName) {
		var container = document.getElementById("selectedCategoriesContainer");
		var categoryContainer = document.createElement("div");
		categoryContainer.className = "selected-category-container";
		categoryContainer.innerHTML = `
				<div class="category-container d-flex align-items-center rounded text-white" style="background-color:rgb(67,37,101)">
	  <div>
		<span class="category-name fs-6 m-2">${categoryName}</span>
	  </div>
	  <button type="button" class="btn btn-sm btn-danger m-2" onclick="removeFromCategoryList('${categoryId}', '${categoryName}')">
		X
	  </button>
	</div>
  `;
		container.appendChild(categoryContainer);

		// Update the asp-for attribute with the selectedCategories array
		var categoryField = document.getElementById("category");
		categoryField.setAttribute("asp-for", "category");
		categoryField.value = JSON.stringify(selectedCategories);
	}


	function removeFromNomineeList(movieId, movieTitle) {
		var index = selectedMovieIds.indexOf(movieId);
		if (index !== -1) {
			selectedMovieIds.splice(index, 1);
			var movieContainers = document.getElementsByClassName("selected-movie-container");
			for (var i = 0; i < movieContainers.length; i++) {
				var container = movieContainers[i];
				if (container.querySelector(".movie-title").textContent.trim() === movieTitle) {
					container.remove();
					break;
				}
			}
			document.getElementById("NomineeDBId").value = JSON.stringify(selectedMovieIds);
		}
	}


	function removeFromCategoryList(categoryId, categoryName) {
		var index = selectedCategories.indexOf(categoryId);
		if (index !== -1) {
			selectedCategories.splice(index, 1);
			var categoryContainers = document.getElementsByClassName("selected-category-container");
			for (var i = 0; i < categoryContainers.length; i++) {
				var container = categoryContainers[i];
				if (container.querySelector(".category-name").textContent.trim() === categoryName) {
					container.remove();
					break;
				}
			}
			document.getElementById("category").value = JSON.stringify(selectedCategories);
		}
	}

	function createMovieCard(movie) {
		console.log("MOVIE:", JSON.stringify(movie));

		var movieId = movie.Id ? movie.Id.toString() : "";
		var movieTitle = movie.Title ? movie.Title.toString() : "";
		var movieImagePath = movie.PosterPath ? movie.PosterPath.toString() : "";
		var movieOverview = movie.Overview ? movie.Overview.toString() : "";
		var releaseDate = movie.ReleaseDate ? movie.ReleaseDate.toString() : "";
		var baseUrl = "https://image.tmdb.org/t/p/";
		var fileSize = "w500";
		var imageUrl = movieImagePath ? `${baseUrl}${fileSize}${movieImagePath}` : "";


		var movieCard = document.createElement("div");
		movieCard.className = "col-md-4 mb-4 movie-card";
		movieCard.innerHTML = `
		<div class="card">
			<img src="${imageUrl}" class="card-img-top" alt="Movie Poster">
			<div class="card-body">
				<h5 class="card-title fs-5">${movieTitle}</h5>
				<p class="card-text">Release Date: ${releaseDate}</p>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<button type="button" class="btn btn-success btn-add-nominee"
					onclick="addToNomineeList('${movieId}', '${movieTitle}', '${movieOverview}', '${releaseDate}')">
					Add to Nominee List
				</button>
			</div>
		</div>
	`;

		return movieCard;
	}

	function searchMovie() {
		var movieName = document.getElementById("movieNameInput").value;
		if (movieName.trim() !== "") {
			// Call the getMoviesByName endpoint
			fetch(`/Competition/getMoviesByName?name=${encodeURIComponent(movieName)}`)
				.then(response => response.json())
				.then(data => {
					// Clear the previous search results
					var searchResultsContainer = document.getElementById("searchResultsContainer");
					searchResultsContainer.innerHTML = "";

					// Display the search results
					if (data && data.length > 0) {
						data.forEach(movie => {
							var movieCard = createMovieCard(movie);
							searchResultsContainer.appendChild(movieCard);
						});
					} else {
						searchResultsContainer.innerHTML = "<p>No movies found.</p>";
					}
				})
				.catch(error => {
					console.error("Error fetching search results:", error);
					// Display an error message if needed
				});
		} else {
			// Show all movies if the input is empty
			var movieCards = document.getElementsByClassName("movie-card");
			for (var i = 0; i < movieCards.length; i++) {
				var movieCard = movieCards[i];
				movieCard.style.display = "block";
			}
		}
	}
	function createCompetition() {
		// Add your form submission logic here
		document.forms[0].submit();
	}


	function handleMovieNameInput(event) {
		if (event.key === "Enter") {
			searchMovie();
			event.preventDefault();
		}
	}



</script>

