@model IEnumerable<cineVote.Models.Domain.Competition>
@{
    ViewData["Title"] = "Competitions";
}

<style>
    /* Your styles here */
    .margin-le{
        margin-left: 5%
    }
</style>

<div class="row bg-light margem-cima rounded">
    <div class="tbl-container text-black">
        <div class="text-black text-center mt-3 fs-3 fw-bold ">Available Competitions</div>
        <div class="border border-dark mt-2"></div>

        <div class="row mt-3">
            <!-- Yet to Start Competitions -->
            <div class="col-md-4">
                <div class="text-black text-center fs-4 fw-bold mb-3">Yet to Start</div>
                @if (!Model.Any(c => DateTime.Now < c.StartDate))
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <h5 class="card-title">No competitions to show..</h5>
                    </div>
                }
                else
                {
                    @foreach (var item in Model.Where(c => DateTime.Now < c.StartDate))
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                @item.Name
                            </div>
                            <div class="card-body">
                                <p>Start Date: @item.StartDate</p>
                                <p>End Date: @item.EndDate</p>
                                @if (User.IsInRole("admin"))
                                {
                                    <!-- Admin actions here -->
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-success align-content-center margem-direita"
                                            href="/Competition/EditCompetition?competitionId=@item.Competition_Id"><i
                                                class="bi bi-pen"></i> Edit</a>

                                        <a class="btn btn-danger justify-content-center margin-le"
                                            onclick="return window.confirm('Are you sure?')"
                                            href="/Competition/Delete?competitionId=@item.Competition_Id"><i
                                                class="bi bi-trash"></i> Delete</a>
                                    </div>
                                }
                                else
                                {
                                    <!-- User actions here -->
                                    @if (item.IsPublic == true)
                                    {
                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>

                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Ongoing Competitions -->
            <div class="col-md-4">
                <div class="text-black text-center fs-4 fw-bold mb-3">Ongoing</div>
                @if (!Model.Any(c => DateTime.Now >= c.StartDate && DateTime.Now <= c.EndDate))
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <h5 class="card-title">No competitions to show..</h5>
                    </div>
                }
                else
                {
                    @foreach (var item in Model.Where(c => DateTime.Now >= c.StartDate && DateTime.Now <= c.EndDate))
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                @item.Name
                            </div>
                            <div class="card-body">
                                <p>Start Date: @item.StartDate</p>
                                <p>End Date: @item.EndDate</p>
                                @if (User.IsInRole("admin"))
                                {
                                    <!-- Admin actions here -->
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-success align-content-center margem-direita"
                                            href="/Competition/EditCompetition?competitionId=@item.Competition_Id"><i
                                                class="bi bi-pen"></i> Edit</a>
                                        <a class="btn btn-danger align-content-center margin-le"
                                            onclick="return window.confirm('Are you sure?')"
                                            href="/Competition/Delete?competitionId=@item.Competition_Id"><i
                                                class="bi bi-trash"></i> Delete</a>
                                    </div>
                                }
                                else
                                {
                                    <!-- User actions here -->
                                    @if (item.IsPublic == true)
                                    {
                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>

                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Finished Competitions -->
            <div class="col-md-4">
                <div class="text-black text-center fs-4 fw-bold mb-3">Finished</div>
                @if (!Model.Any(c => DateTime.Now > c.EndDate))
                {
                    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                        <h5 class="card-title">No competitions to show..</h5>
                    </div>
                }
                else
                {
                    @foreach (var item in Model.Where(c => DateTime.Now > c.EndDate))
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                @item.Name
                            </div>
                            <div class="card-body">
                                <p>Start Date: @item.StartDate</p>
                                <p>End Date: @item.EndDate</p>
                                @if (User.IsInRole("admin"))
                                {
                                    <!-- Admin actions here -->
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn-success align-content-center margem-direita"
                                            href="/Competition/EditCompetition?competitionId=@item.Competition_Id"><i
                                                class="bi bi-pen"></i> Edit</a>
                                        <a class="btn btn-danger align-content-center margin-le"
                                            onclick="return window.confirm('Are you sure?')"
                                            href="/Competition/Delete?competitionId=@item.Competition_Id"><i
                                                class="bi bi-trash"></i> Delete</a>
                                    </div>
                                }
                                else
                                {
                                    <!-- User actions here -->
                                    @if (item.IsPublic == true)
                                    {

                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center">
                                            <a class="btn text-white btn-md align-content-center"
                                                href="/Competition/SingleCompetition?competitionId=@item.Competition_Id"
                                                style="background-color:rgb(67,37,101)"><i class="bi bi-pen"></i> See Competition</a>
                                            <div class="margin-le">
                                                <a class="btn btn-primary align-content-center margem-esq"
                                                    href="/Competition/ShowResultsCompetition?competitionId=@item.Competition_Id">Results</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
