@model IEnumerable<cineVote.Models.Domain.Posts>

@{
    ViewData["Title"] = "Posts";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>

<style>
    .margem-esq{
        margin-left: 25px;
    }

    .comment-box {
        background-color: #f0f2f5;
        padding: 10px;
    }

    .comment {
        display: flex;
        align-items: flex-start;
    }

    .avatar {
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border-radius: 50%;
        margin-right: 10px;
    }

    .comment-content {
        flex: 1;
    }

    .comment-author {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    .comment-text {
        margin: 5px 0;
        font-size: 14px;
    }

    .comment-actions {
        font-size: 12px;
    }

    .comment-like,
    .comment-reply {
        margin-right: 10px;
        color: #666;
        cursor: pointer;
    }

        .comment-like:hover,
        .comment-reply:hover {
            text-decoration: underline;
        }
</style>

<div class="margem-top">
    <div class="container mt-5 mb-5">
        <div class="card mb-3">
            <div class="card-body">
                <form id="post-form" method="post">
                    <div class="mb-3">
                        <label class="form-label fs-6 fw-bold text-dark">Title of the Post:</label>
                        <input type="text" name="Title" class="form-control"
                            placeholder="Write the Title of your post" />
                    </div>

                    <div class="mb-2 mt-3">
                        <label class="form-label fs-6 fw-bold text-dark">Content of the post:</label>
                        <textarea name="Content" class="form-control" placeholder="Write the Content" rows="1"
                            cols="50"></textarea>
                    </div>

                    <div class="mb-3 d-flex justify-content-center">
                        <button class="btn text-white" style="background-color:rgb(67,37,101)"
                            type="submit">Publish</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="posts-container">
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-dark text-center">
                            <a href="@Url.Action("Profile", "User", new { username = item.userName })">@item.userName</a> |
                            @item.Title
                        </h5>
                        <div class="border">
                        </div>
                        <p class="text-dark fs-6 fw-bold mt-3">Content:</p>
                        <p class="card-text text-dark">@item.Content</p>

                        <p class="text-dark fs-6 fw-bold mt-3">Comentários:</p>
                        <div class="comments-section">
                            <div class="comments margem-esq">
                                @foreach (var cc in item.Comments)
                                {
                                    if (cc != null)
                                    {
                                        <div class="comment-box">
                                            <div class="comment">
                                                <div class="avatar"></div>
                                                <div class="comment-content text-dark">
                                                    <h4 class="comment-author">
                                                        <a href="@Url.Action("Profile", "User", new { username = cc.userName })">@cc.userName</a>
                                                    </h4>
                                                    <p class="comment-text small">@cc.Content</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <!-- Comment form for the post -->
                            <form class="comment-form" id="comment-form" method="post">
                                <input type="hidden" name="PostsId" value="@item.PostsId">
                                <textarea name="Content" placeholder="Write a comment" rows="100" cols="5000"></textarea>
                                <div class="justify-content-center d-flex mt-3">
                                    <button type="submit" class="btn text-white" style="background-color: rgb(67, 37, 101)">Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css" />
    <script type="text/javascript">
        $('textarea').emojioneArea({
            pickerPosition: 'bottom'
        });

    </script>
    <script>
        $(function () {
            $(document).on('submit', '#post-form', function (event) {
                event.preventDefault(); // Prevent default form submission

                // Get form data
                var formData = $(this).serialize();

                // Send form data to the server using AJAX
                $.ajax({
                    url: '@Url.Action("Create", "Social")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        // Clear the form
                        $("#post-form")[0].reset();

                        // Create a new card element for the new post
                        var card = $("<div>").addClass("card mb-3");
                        var cardBody = $("<div>").addClass("card-body");
                        var cardTitle = $("<h5>").addClass("card-title text-dark");

                        // Create the user link
                        var userLink = $("<a>").attr("href", "@Url.Action("Profile", "User")/" + result.userName).text(result.userName);
                        cardTitle.append(userLink);

                        // Add the post title and content
                        cardTitle.append(" | " + result.title);
                        var cardContent = $("<p>").addClass("card-text text-dark").text(result.content);

                        // Append the card elements to the posts container
                        cardBody.append(cardTitle, cardContent);
                        card.append(cardBody);
                        // Insert the new post below the form
                        $("#posts-container").prepend(card);

                        // Create a comment form for the new post
                        var commentForm = $("<form>").addClass("comment-form");
                        var commentTextArea = $("<textarea>").addClass("form-control").attr("name", "Content").attr("placeholder", "Write a comment").attr("rows", "1").attr("cols", "50");
                        var commentButton = $("<button>").addClass("btn text-white").css("background-color", "rgb(67, 37, 101)").attr("type", "submit").text("Comment");

                        // Append comment form elements to the comments section
                        var commentsSection = $("<div>").addClass("comments-section");
                        commentsSection.append(commentForm);
                        commentForm.append(commentTextArea, commentButton);

                        cardBody.append(commentsSection);
                        // Scroll to the newly added post
                        $('html, body').animate({
                            scrollTop: card.offset().top
                        }, 500);

                        // Clear and focus on the comment form
                        $("#comment-form")[0].reset();
                        $("#comment-form textarea").focus();
                    },

                    error: function (xhr, status, error) {
                        console.log("DEU ERROR");
                        // Handle error
                        console.error(error);
                    }
                });
            });
        });

        $(function () {
            $(document).on('submit', '#comment-form', function (event) {
                event.preventDefault(); // Prevent default form submission

                // Get form data
                var formData = $(this).serialize();

                var commentForm = $(this);
                var cardBody = commentForm.closest('.card-body');
                var commentsSection = cardBody.find('.comments');
                // Send form data to the server using AJAX
                $.ajax({
                    url: '@Url.Action("Comment", "Social")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        // Clear the form
                        commentForm[0].reset();
                        $("#comment-form")[0].reset();

                        // Create a new comment element
                        var comment = $("<div>").addClass("comment");

                        // Create the user link
                        var userLink = $("<a>").attr("href", "@Url.Action("Profile", "User")/" + result.userName).text(result.userName);
                        var commentContent = $("<p>").addClass("comment-content text-dark").append(userLink).append(" | " + result.content);
                        comment.append(commentContent);

                        // Append the new comment to the comments section
                        commentsSection.prepend(comment);

                    },
                    error: function (xhr, status, error) {
                        console.error("ERROR: " + error);
                    }
                });
            });
        });



    </script>
}
